<template>
  <calendar-icon class="custom-class"></calendar-icon>
</template>

<script>
import { CalendarIcon } from 'vue-feather-icons'
export default {
  components: {
    CalendarIcon
  }
}
</script>
