<template>
  <div style="width: 100%;height: 100%;margin: 0;padding: 0;text-align: left;font-size: .875rem;">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" title="全方位改善生活的数据管理专家和咨询顾问">小智</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="搜索" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <router-link to="/">
            <a class="nav-link" v-on:click="logout()"><logout-icon></logout-icon>退出</a>
          </router-link>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="feather nav-link active" href="#">
                  <homeIcon></homeIcon>大看板<span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">大看板</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">
                  <share-icon></share-icon>分享
                </button>
                <button class="btn btn-sm btn-outline-secondary">
                  <uploadIcon></uploadIcon>导出
                </button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <calendar-icon></calendar-icon>本周
              </button>
            </div>
          </div>
          <!-- 图表数据 -->
          <v-chart :options="polar" style="width:100%"/>
          <!-- 表格数据 -->
          <h2>近一周消费数据</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
              <tr>
                <th>日期</th>
                <th>消费额（元）</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>2019-01-24</td>
                <td>11</td>
              </tr>
              <tr>
                <td>2019-01-25</td>
                <td>11</td>
              </tr>
              <tr>
                <td>2019-01-26</td>
                <td>15</td>
              </tr>
              <tr>
                <td>2019-01-27</td>
                <td>13</td>
              </tr>
              <tr>
                <td>2019-01-28</td>
                <td>12</td>
              </tr>
              <tr>
                <td>2019-01-29</td>
                <td>13</td>
              </tr>
              <tr>
                <td>2019-01-30</td>
                <td>10</td>
              </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>
<script>
import HomeIcon from '@/components/HomeIcon'
import CalendarIcon from '@/components/CalendarIcon'
import LogoutIcon from '@/components/Logout'
import UploadIcon from '@/components/UploadIcon'
import ShareIcon from '@/components/ShareIcon'
import ECharts from 'vue-echarts/components/ECharts'
// 手动引入 ECharts 各模块来减小打包体积
import 'echarts/lib/chart/line'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/polar'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/title.js'
export default {
  name: 'home',
  components: {
    'v-chart': ECharts,
    'homeIcon': HomeIcon,
    'calendarIcon': CalendarIcon,
    'logoutIcon': LogoutIcon,
    'uploadIcon': UploadIcon,
    'shareIcon': ShareIcon
  },
  methods: {
    logout () {
      console.log('退出成功')
    }
  },
  data () {
    return {
      polar: {
        title: {
          text: '近一周消费统计'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['金额']
        },
        toolbox: {
          show: true,
          feature: {
            mark: {show: true},
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
          }
        },
        calculable: true,
        xAxis: [
          {
            type: 'category',
            boundaryGap: false,
            data: ['2019-01-24', '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29', '2019-01-30']
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLabel: {
              formatter: '{value}元'
            }
          }
        ],
        series: [
          {
            name: '消费额',
            type: 'line',
            data: [11, 11, 15, 13, 12, 13, 10]
          }
        ]
      }
    }
  }
}
</script>
<style scoped src="../style/home.css">
</style>
