<template>
  <div class="hello">
    <form class="form-signin">
      <img class="mb-4" src="../assets/dog.jpg" alt="登录" width="300" height="200">
      <input type="userName" id="inputUserName"  class="form-control" v-model="userName" placeholder="用户名" required autofocus>
      <input type="password" id="inputPassword" v-model="userPassword"  class="form-control" placeholder="密码" required>
      <!--暂时不需要注册登陆以及记住我-->
      <!--
      <div class="checkbox mb-3">
        <label class="left">
          <input type="checkbox" value="remember-me"> 记住我
        </label>
        <label class="right">
          <a href="#" class="nav-link">注册/忘记密码</a>
        </label>
      </div>
      -->
      <button class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="login(userName,userPassword)">登录</button>
    </form>
  </div>
</template>

<script type="text/javascript">
import axios from 'axios'
export default {
  name: 'Login',
  data () {
    return {
      userPassword: '',
      userName: ''
    }
  },
  methods: {
    login (userName, userPassword) {
      console.log('inputPassword = ' + userPassword)
      // axios.get('http://localhost:8081/zhiXuan/api/user?nickName=' + userName).then(function (response) {
      axios.get('/proxy/zhiXuan/api/user?nickName=' + userName).then(function (response) {
        let password = response.data.body[0].password
        if (password === userPassword) {
          console.log('登陆成功')
          this.$router.push({name: 'newHome'})
        } else {
          alert('用户不存在或者密码不正确')
        }
      }.bind(this))
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped src="../style/signin.css">
</style>
