<template>
  <div>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">小智</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">大看板</a>
      </nav>
      <router-link to="/">
          <a class="btn btn-outline-primary" v-on:click="logout()">退出</a>
      </router-link>
    </div>
    <div class="container-fluid">
      <div class="row">
          <!-- 图表数据 -->
          <v-chart :options="polar" style="width:100%"/>
          <!-- 表格数据 -->
          <h6 style="font-weight: bold">表格统计</h6>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
              <tr>
                <th>日期</th>
                <th>消费额（元）</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>2019-01-24</td>
                <td>11</td>
              </tr>
              <tr>
                <td>2019-01-25</td>
                <td>11</td>
              </tr>
              <tr>
                <td>2019-01-26</td>
                <td>15</td>
              </tr>
              <tr>
                <td>2019-01-27</td>
                <td>13</td>
              </tr>
              <tr>
                <td>2019-01-28</td>
                <td>12</td>
              </tr>
              <tr>
                <td>2019-01-29</td>
                <td>13</td>
              </tr>
              <tr>
                <td>2019-01-30</td>
                <td>10</td>
              </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 text-muted">&copy; 2019-2029</small>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import ECharts from 'vue-echarts/components/ECharts'
// 手动引入 ECharts 各模块来减小打包体积
import 'echarts/lib/chart/line'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/polar'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/title.js'
export default {
  name: 'newHome',
  components: {
    'v-chart': ECharts
  },
  methods: {
    logout () {
      console.log('退出成功')
    }
  },
  data () {
    return {
      polar: {
        title: {
          text: '近一周消费统计'
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['金额']
        },
        toolbox: {
          show: true,
          feature: {
            mark: {show: true},
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
          }
        },
        calculable: true,
        xAxis: [
          {
            type: 'category',
            boundaryGap: false,
            data: ['2019-01-24', '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28', '2019-01-29', '2019-01-30']
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisLabel: {
              formatter: '{value}元'
            }
          }
        ],
        series: [
          {
            name: '消费额',
            type: 'line',
            data: [11, 11, 15, 13, 12, 13, 10]
          }
        ]
      }
    }
  }
}
</script>

<style scoped src="../style/newHome.css">
</style>
